extends layout

block content
  div.post.container
    h2.postTitle
      a(href=post.url)
        = post.title
    span.blog.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
    div.post.content
      != post.content
    div.tags tag(s): 
      - each tag in post.tags
        a(href=tagUrl(tag))
          span.label.label-info #{tag} 
block scripts
  link(rel='stylesheet', href='/stylesheets/blog.css')