div.post.spaceBelow
  h2.postTitle
    a(href=post.url)
      = post.title
  span.blog.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
  div.post.content
    != post.preview
  div.tags tag(s): 
    - each tag in post.tags
      a(href=tagUrl(tag))
        span.label.label-info #{tag} 