extends layout

block content
  div.roster.container
    #years
      ul.roster.years
        - for (var t in teams) {
          - if (teams[t].Year == year) {
            li
              a.selected(href='/roster?year='+teams[t].Year)=teams[t].Year
          - }
          - else {
            li
              a(href='/roster?year='+teams[t].Year)=teams[t].Year
          - }
        - }
    #players
      ul.roster.players
        li
          div.medium.column Number
          div.large.column Name
          div.medium.column Year
          div.medium.column Experience
          div.medium.column Height
          div.medium.column Weight
        - for (var p in players) {
          - var player = players[p];
          - var ordinal = players[p].Experience
          if ordinal == 1
            - ordinal += 'st year'
          else if ordinal == 2
            - ordinal += 'nd year'
          else if ordinal == 3
            - ordinal += 'rd year'
          else if ordinal == 4 || ordinal == 5
            - ordinal += 'th year'
          li
            a(href='/player?id='+player.Id)
              div.medium=player.Number
              div.large=player.Name
                if player.Captain
                  span.captain  *
              div.medium=player.Year
              div.medium=ordinal
              div.medium=player.Height
              div.medium=player.Weight
        - }
    p
      span.yellow * 
      span denotes captain
    div 
      span.yellow Coaches: 
      - for (var c in coaches) {
        - var coach = coaches[c];
        a(href='/coach?id='+coach.Id)
          span= coach.Name
        - if (c != coaches.length -1) {
          span , 
        - }
      - }
block scripts
  link(rel='stylesheet', href='/stylesheets/roster.css')

    

